---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Auth Error",
	description: "Something went wrong",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
	 <p>Error with auth</p>
	</div>
</PageLayout>
