@tailwind base;
@layer base {
	:root {
		color-scheme: light;
		--theme-bg: #121212;
		--theme-link: #E78A52;
		--theme-text: #C1C1C1;
		--theme-accent: #FBCB96;
		--theme-accent-2: #C1C1C1;
		--theme-quote: #FBCB96;
		--theme-menu-bg: rgb(250 250 250 / 0.85);
	}

	:root.dark {
		color-scheme: dark;
		--theme-bg: #121212;
		--theme-link: #E78A52;
		--theme-text: #C1C1C1;
		--theme-accent: #FBCB96;
		--theme-accent-2: #C1C1C1;
		--theme-quote: #FBCB96;
		--theme-menu-bg: rgb(40, 40, 40 / 0.85);
	}

	html {
		@apply h-full scroll-smooth border-t-2 border-textColor;
	}

	html body {
		@apply mx-auto flex h-full max-w-3xl flex-col bg-bgColor px-8 pt-16 font-mono text-sm font-normal text-textColor antialiased;
	}
}
@tailwind components;
@tailwind utilities;
