---
const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-20 pb-4 text-center align-top text-gray-500 sm:flex-row sm:justify-between sm:text-xs"
>
	<div class="mr-0 sm:mr-4">
		Copyright &copy; {year}
		Steve Simkins
	</div>
	<nav
		aria-label="More on this site"
		class="flex gap-x-1 sm:gap-x-0 sm:divide-x sm:divide-gray-500 flex-wrap"
	>
	<a
		href="/"
		class="sm:hover:text-textColor px-4 py-2 sm:py-0 sm:px-2 sm:hover:underline"
	>
	Home
	</a>
	<a
		href="/posts"
		class="sm:hover:text-textColor px-4 py-2 sm:py-0 sm:px-2 sm:hover:underline"
	>
	Blog
	</a>
	<a
		href="/about"
		class="sm:hover:text-textColor px-4 py-2 sm:py-0 sm:px-2 sm:hover:underline"
	>
	About
	</a>

	</nav>
</footer>
