---
import PageLayout from "@/layouts/Base";
import { Image } from "astro:assets";
import aboutImg from "../assets/pfp.png";
import DecryptingHeader from "@/components/DecryptingHeader";

const meta = {
	title: "About",
	description: "More about Steve Simkins",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
	 <DecryptingHeader text="About" className="title" />
		<p>
			Hey there! My name is Steve and I’m a DX engineer, creator, and tinkerer. I’m currently
			working at
			<a
				class="style-link inline-block"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Link to Pinata website"
				href="https://pinata.cloud"
			>
				Pinata</a
			>
			as Head of Developers Relations, where I work on anything from <a
				class="style-link inline-block"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Link to Pinata docs"
				href="https://docs.pinata.cloud"
			>
				writing documentation
			</a>, building <a
				class="style-link inline-block"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Link to repos"
				href="/projects">developer tools</a
			>, to writing
			<a
				class="style-link inline-block"
				rel="preferch"
				aria-label="Link to blog posts"
				href="/posts"
			>
				blog posts
			</a>, filming
			<a class="style-link inline-block" rel="preferch" aria-label="Link to videos" href="/videos">
				videos
			</a>, and

			<a
				class="style-link inline-block"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Link to Warpcast post"
				href="https://warpcast.com/stevedylandev.eth/0xace44e08"
			>
				making memes
			</a>.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="Steve pfp"
				loading="eager"
				class="animate-fade-in"
			/>
		</div>
		<p>Here's some more info about me:</p>
		<ul class="list-inside list-disc">
			<li>Currently in Chattanooga TN</li>
			<li>
				Pastimes include enjoying coffee shops, spending time with my wife and two sons, and
				tinkering with mechanical keyboards
			</li>
			<li>
				Taught myself web development which has led to a love and appreciation for developer tools
			</li>
			<li>I have a killer waffle recipe handed down through my family</li>
		</ul>
		<p>
			Feel free to
			<a
				class="style-link inline-block"
				href="mailto:hello@stevedylan.dev"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				reach out
			</a>!
		</p>
	</div>
</PageLayout>
