---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "About",
	description: "More about Steve Simkins",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">About</h1>
		<p>
			Hey there! My name is Steve and I'm the Head of Community for
			<a
				class="cactus-link inline-block"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="Link to Pinata website"
				href="https://pinata.cloud">Pinata.</a
			>
      I help creators and developers in the Web3 space, and I like to help build solutions
			to their problems.
		</p>
		<div class="flex justify-center">
			<Image
				src={aboutImg}
				alt="A cartoon cactus looking at the 'Astro.build' logo"
				loading="eager"
			/>
		</div>
		<p>Here's some more info about me:</p>
		<ul class="list-inside list-disc">
      <li>Currently in Chattanooga TN</li>
      <li>Pastimes include enjoying coffee shops, spending time with my wife and two sons, and tinkering with mechanical keyboards</li>
      <li>Taught myself frontend web development which led to being hooked on blockchain technology</li>
      <li>I have a killer waffle recipe handed down through my family</li>
		</ul>
		<p>
			Feel free to 
			<a
				class="cactus-link inline-block"
				href="mailto:hello@stevedsimkins.dev"
				target="_blank"
				rel="noopener noreferrer"
				aria-label="github repository"
			>
				reach out
			</a>!
		</p>
	</div>
</PageLayout>
