---
export const prerender = false;
import PageLayout from "@/layouts/Base";
import GuestbookFeed from "src/components/GuestbookFeed";

const meta = {
	title: "Guestbook",
	description: "Leave a message in my digital guestbook!",
};
---
<PageLayout meta={meta}>
  <div class="space-y-6">
  <div class="flex flex-col gap-2 mb-6">
    <h1 class="font-bold text-2xl">Guestbook</h1>
    <p>Welcome to my little digital guestbook! I built this using PGlite, Railway, Clerk, and <a href="https://pinata.cloud" class="style-link" target="_blank" rel="noreferrer">Pinata</a>. Login with your Github account to leave a message!</p>
    </div>
    <GuestbookFeed client:load />
  </div>
</PageLayout>
