---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Hidden",
	description: "shhhhh",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Secrets</h1>
    <iframe title="submarine" src="https://app.submarine.me/pzrSPDnFdUmgXa3XvubuiS" width="600" height="400" />
	</div>
</PageLayout>

