---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
import PostPreview from "@/components/blog/PostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/utils";
import { Image } from "astro:assets";

const MAX_POSTS = 10;
const allPosts = await getCollection("post");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hey there!</h1>
		<p class="mb-4">
			My name is Steve. I'm a fullstack developer, technical writer, and creator with a desire to
			help build the future of the web. My latest project is <a
				href="https://snippets.so"
				target="_blank"
				rel="noopener noreferrer"
				class="cactus-link">Snippets.so</a
			>, a clean and simple code sharing tool.
		</p>
		<SocialList />
		<p>Or anywhere with my handle <span class="text-accent">@stevedylandev</span></p>
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Extras</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://pi.stevedylan.dev"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					><Image
						src="https://api.iconify.design/cib:raspberry-pi.svg?color=%23888888"
						class="inline-block h-4 w-4"
						height="100"
						width="100"
						alt="rasp pi logo"
					/> Steve's Pi
				</a>:
				<p class="inline-block sm:mt-2">See a live view of the Raspberry Pi on my desk</p>
			</li>
			<li>
				<a
					href="https://ethglobal.com/showcase/cosmic-cowboys-3q0co"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					><Image
						height="100"
						width="100"
						src="https://api.iconify.design/ph:cowboy-hat-fill.svg?color=%23888888"
						class="inline-block h-4 w-4"
						alt="cowboy logo"
					/> Cosmic Cowboys
				</a>:
				<p class="inline-block sm:mt-2">EthGlobal 2023 hackathon winning project</p>
			</li>
			<li>
				<a
					href="https://photos.stevedylan.dev"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					><Image
						height="100"
						width="100"
						src="https://api.iconify.design/material-symbols:photo-camera.svg?color=%23888888"
						class="inline-block h-4 w-4"
						alt="camera icon"
					/> Photos
				</a>:
				<p class="inline-block sm:mt-2">My personal photography portfolio</p>
			</li>
			<li>
				<a
					href="https://pinata.cloud"
					target="_blank"
					rel="noopener noreferrer"
					class="cactus-link inline-block"
					><Image
						height="100"
						width="100"
						src="https://dweb.mypinata.cloud/ipfs/QmXexbA6Raw4sq79NfXNrLesXNwXYpHUVNRSccF59ArGfo"
						class="inline-block h-4 w-4"
						alt="pinata logo"
					/> Pinata
				</a>:
				<p class="inline-block sm:mt-2">
					Where I'm currently working as Head of Developer Relations
				</p>
			</li>
		</ul>
	</section>
</PageLayout>
