---
export const prerender = false;
import PageLayout from "@/layouts/Base";
import {
	SignedIn,
	SignedOut,
	UserButton,
	SignInButton,
} from "@clerk/astro/components";

const meta = {
	title: "Log",
	description: "Connect with me on all the things",
};
---
<PageLayout meta={meta}>
  <div class="space-y-6">
    <SignedOut isStatic={false}>
      <SignInButton path="/log" as="button" mode="modal" class="border-2 border-current rounded-md p-2 cursor-pointer">Sign in with Github</SignInButton>
    </SignedOut>
    <SignedIn isStatic={false}>
      <UserButton />
    </SignedIn>
  </div>
</PageLayout>
