---
import PageLayout from "@/layouts/Base";
import { YouTube } from "@astro-community/astro-embed-youtube";

const meta = {
	title: "Videos",
	description: "Video content made by Steve Simkins",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Videos</h1>
		<p>Here are some samples of video content I've produced to help users!</p>
		<YouTube id="GlpfIherX7U" />
		<YouTube id="lhJwEckGi4U" />
    <YouTube id="sAAstqHabBg" />
    <YouTube id="hlfVoTNUPWU" />
		<YouTube id="TaJzw_2hEJI" />
		<YouTube id="sUVkr_lhE2g" />
	</div>
</PageLayout>
