---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Videos",
	description: "Video content made by Steve Simkins",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Videos</h1>
		<p>Here are some samples of video content I've produced to help users!</p>
		<p id="GlpfIherX7U"> </p>
		<p id="lhJwEckGi4U"> </p>
    <p id="hlfVoTNUPWU"> </p>
    <p id="TaJzw_2hEJI"> </p>
    <p id="sUVkr_lhE2g"> </p>
	</div>
</PageLayout>
