---
import PageLayout from "@/layouts/Base";
import { YouTube } from "@astro-community/astro-embed-youtube";

const meta = {
	title: "Videos",
	description: "Video content made by Steve Simkins",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Videos</h1>
		<p>Here are some samples of video content I've produced to help users!</p>
		<YouTube id="lhJwEckGi4U" />
		<YouTube id="f3G9qY_zZq4"/>
		<YouTube id="aBaDnCecFRA" />
		<YouTube id="cD0cPt8BXQw" />
		<YouTube id="xsmx29Htw8o" />
		<YouTube id="3_5jdgiCrXI" />
		<YouTube id="YQMktd0llOo" />
	</div>
</PageLayout>
