---
const { link, site, image } = Astro.props;
import { Image } from "astro:assets";
---

<a class="flex items-center justify-start gap-2 font-bold" href={link} target="_blank">
	<Image src={image} width={30} height={30} alt={`Link to ${site}`} />
	Read this post on {site}
</a>
